[mysql]
host=HOSTNAME
port=3306
user=USERNAME
password=PASSWORD

[mysqldump]
host=HOSTNAME
port=3306
user=USERNAME
password=PASSWORD

[mysqladmin]
host=HOSTNAME
port=3306
user=USERNAME
password=PASSWORD
