[mysql]
host=HOSTNAME # please edit.
port=3306 # please edit if wrong.
user=USERNAME # please edit.
password=PASSWORD # please edit.

[mysqldump]
host=HOSTNAME # please edit.
port=3306 # please edit if wrong.
user=USERNAME # please edit.
password=PASSWORD # please edit.

[mysqladmin]
host=HOSTNAME # please edit.
port=3306 # please edit if wrong.
user=USERNAME # please edit.
password=PASSWORD # please edit.
